body{
  background-color: black;
}


p{
  color: white;
}

.title{
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.move-icon{
  height: 40px;
}

.move-button{
  background: transparent;
  border: 2px solid white;
  /*padding: 20px;*/
  height: 120px;
  width: 120px;
  margin-right: 5px;
  border-radius: 60px;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score{
 margin-top: 40px;
}

.reset-score-button, .auto-play-button{
  border: none;
  background-color: white;
  font-size: 17px;
  padding: 8px 10px;
}